/*This is the CSS sheet for final.html.*/

h1 {
	font-family: 'Merriweather', serif;
}

h5 {
	text-align: center;
}

.subheadline {
	font-family: 'Libre Baskerville', serif;
	font-size: 20px;
}

img {
	width: 100%;
	height: auto;
}

.accordion-button {
	color: steelblue;
	font-weight: bold;
}

button {
	margin-left: 10px;
}

a:link {
	color: skyblue;
}

.img_caption {
	color: gray;
	size: 14px;
	margin-top: 0px;
}

.pull-quote {
	margin-left: 5px;
    border: 2px dashed black;
    text-align: center;
    font-style: italic;
    font-size: 16px;  
}

iframe {
	margin-top: 25px;
}
